include *.txt README CHANGELOG LICENSE NOTICE CREDITS
include *.sh
include *.py
recursive-include etc *.conf
recursive-include examples *
recursive-include legal *.py
recursive-include migration *.py
recursive-include pymager *.py *.jpg *.html
recursive-include tests *.py
