include *.txt README CHANGELOG COPYING* CREDITS
include *.sh
include *.py
recursive-include etc *.py
recursive-include examples *.py
recursive-include legal *.py
recursive-include migration *.py
recursive-include pymager *.py *.jpg
recursive-include tests *.py
